.home-container{
      padding: 10px 80px;
}
.movies-container{
      list-style: none;
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
}